html,body{
height: 100%;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

/* Page signUp signIn*/

.sign{
    height: 100%;
    display: flex;
}
.sign .signUp,.signIn{
    width: 60%;
    margin: auto;
    height: 70%;
}
.frame { 
    border: 3px solid #f4f4f4;
    height: 80%;
    border-radius: 0px;
    word-wrap: break-word;
}
.frame .form { 
    height: 90%;
    display: flex;
}
.frame form { 
    padding: 20px 30px; 
    text-align: center;
    width: 80%;
    margin: auto;
}
.frame form input{ 
    margin-bottom: 20px; 
}
.frame form button{ 
    width: 70%;
    border: 3px solid black;
    font-family: 'Tinos', serif;
    padding: 5px;
    font-size: 1.2em;
    background-color: white;
    color: black;
    cursor: pointer;
}
.frame form button:hover{ 
    background-color: black;
    color: white;
    transition: 0.5s;
}
.frame .title{ 
    font-family: 'Oswald', sans-serif;
    padding: 8px 20px;
    border-bottom: 3px solid #f4f4f4;
    font-size: 25px;
    background-color: black;
    color: white;
}


/* Page welcome */
.welcome-page{
  height: 100%;
  display: flex;
  text-align: center;
}
.welcome-container{
  margin: auto;
}
.welcome-container .logo{
  width: 60%;
  opacity: 0.5;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
}
.welcome-container h1{
  font-size: 6em;
  font-family: 'Reenie Beanie', cursive;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0,5s;
  padding: 30px 0px;
  /*margin-bottom: 60px;*/
}

.welcome-container p{
  -webkit-animation-duration: 8s;
  -webkit-animation-delay: 3s;
  margin: 5px;
}
.welcome-container .authen{
  width: 40%;
  -webkit-animation-duration: 8s;
  -webkit-animation-delay: 3s;
  margin: 5px;
}
/* Fin page welcome */

/* Modal */
.modal .content{
    padding: 30px 20px;
    text-align: center;
}
.modal .frame .title button{
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    float: right;
    cursor: pointer;
}
.modal .content h3,.avatar{
    margin-bottom: 30px;
}
.modal .content .avatar{
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}
.modal .content .avatar img{
    width: 100%;
    border: 3px solid black;
    border-radius: 50%;
}
.modal .content ul{
    list-style: none;
    margin-bottom: 30px;
}
.modal .content ul li{
    margin-bottom: 15px;
}
.modal .content ul li strong{
    display: block;
}
.modal .content .logout{
    background-color: #ff6969;
    color: white;
    font-size: 1.2em;
    font-family: 'Tinos', serif;
    padding: 8px 35px;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid #ff6969;
    cursor: pointer;
}
.modal .content .logout:hover{
    background-color: white;
    border: 3px solid #ff6969;
    color: #ff6969;
    font-size: 1.2em;
    font-family: 'Tinos', serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
.modal .content .save{
    width: 40%;
    border: 3px solid black;
    font-family: 'Tinos', serif;
    padding: 5px;
    font-size: 1.2em;
    background-color: white;
    color: black;
    cursor: pointer;
}
.modal .content .save:hover{
background-color: black;
color: white;
transition: 0.5s;
}
/* Fin Modal */

/* Page dashboard */
.dashboard-page *{
    padding: 0;
}
.dashboard-page .dicta{
    position: fixed;
    padding: 10px;
    border: 3px solid #f4f4f4;
    bottom: 20px;
    right: 20px;
    z-index: 2000;
    background-color: black;
    color: white;
    border-radius: 28px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.dashboard-page .title{
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: 8px 20px;
    border-bottom: 2px solid #f4f4f4;
    text-align: center;
    font-size: 1.7em;
}
.dashboard-page nav{
    height: 65px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #f4f4f4;
}
.dashboard-page nav a{
    text-decoration: none;
    color: inherit;
}
.dashboard-page nav .logo{
    float: left;
    text-align: left;
    height: 100%;
    display: flex;
    padding: 0px 10px;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
}
.dashboard-page nav .logo img,p{
    display: inline-block;
    margin: auto;
}
.dashboard-page nav .logo img{
    width: 45px;
    margin-right: 5px;
}
.dashboard-page nav .logo p{
    font-family: 'Reenie Beanie', cursive;
    font-size: 27px;
    font-weight: bold; 
    margin: auto;
}
.dashboard-page nav .perso{
    float: right;
    height: 100%;
    display: flex;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
}
.dashboard-page nav .perso .myAccount,.settings{
    display: inline-block;
    width: 50px;
    margin: auto;
    font-size: 25px;
    margin-right: 15px;
}
.dashboard-page nav .perso .myAccount img{
width: 40px;
border-radius: 20px;
}

#main{
    margin: 0px 50px;
}
.dashboard-page .result,.recommandation,.search{
    margin-bottom: 20px;
    border: 3px solid #f4f4f4;
}
.dashboard-page .search{
    height: 70px;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-delay: 1.5s;
    text-align: center;
    display: flex;
    border: 3px solid #f4f4f4;
    border-radius: 50px;
}
.dashboard-page .search i,input{
    display: inline-block;
    margin: auto;
}
.dashboard-page .search i{
    font-size: 30px;
    color: white;
    background-color: #ff6c6c;
    width: 50px;
    height: 50px;
    padding-top: 11px;
    margin-left: 11px;
    border-radius: 30px;
}
.dashboard-page .search input{
    width: 83%;
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-right: 20px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    outline:  none;
}
.dashboard-page .result{
    -webkit-animation-duration: 0.8s;
    -webkit-animation-delay: 2s;
    background-color: rgba(157, 177, 185, 0.77);
}
.dashboard-page article:nth-child(2n){
    padding-right: 20px;
}
.dashboard-page .result h2{
    background-color: #9fadb2;
    margin: 0px;
}

#gmap_canvas{
    width: 100%;
    height: 100%;
}

.dashboard-page .recommandation{
    background-color:#ffeded;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-delay: 2.5s;
}
.dashboard-page .recommandation h2{
    background-color:#ff5656;
}
.dashboard-page .help{
    background-color:#2B322B;
    height: 100%;
    margin-bottom: 0px;
    border-bottom: none;
    border-top: none;
    border-right: none;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-delay: 3s;
}
.dashboard-page .help ul{
    padding: 15px;
    list-style: none;
}
.dashboard-page .help #accordion .panel-default:first-of-type ul li{ 
    color: #ff6c6c;
}
.dashboard-page .help ul li{ 
    color: #3CD2CE;
}
.dashboard-page .help h2{
    background-color:#2B322B;
    border: none;
    text-align: center;
    margin-bottom: 30px;
}
.dashboard-page .help h3{
    font-size: 1em;
    text-align: left;
}
.dashboard-page .help h3 a{
    text-decoration: none;
    color: white;
}
.dashboard-page .help #accordion .panel-default:first-of-type div h3 a{
    color:red;
}
/* Fin page dashboard */

/* Pour les modules */
.hide {
    display: none;
}

#map {
    height: 100%;
}
/* Module default */
.start{
    font-family: 'Reenie Beanie', cursive;
    text-align: center;
    margin: auto;
    padding: 60px;
    color: white;
}
.start p{
    font-size: 3.5em;
    padding: 40px;
    font-weight: bold;
}
.start i{
    font-size: 1.5em;
}
/* fin Module default */

/* Module Meteo */
#meteo{
    width: 100%;
    margin: 0px;
}
#meteo iframe{
    height: 100%;
    opacity: 0.7;
}
#meteo .details{
    padding: 30px;
    color: white;
    text-align: center;
}
#meteo h3{
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
#meteo .details #msgVocal{
    padding-top: 15px;
}
#meteo .details i{
    font-size: 7em;
    padding: 25px;
}
#meteo .details ul{
    list-style: none;
    font-weight: bold;
    padding: 15px 0px;
    margin: auto;
}
#meteo .details ul li{
    margin-bottom: 10px;
}
#meteo .details ul li img{
    margin-right: 15px;
    width: 20%;
}

/* Movies */
.movie {
    margin:auto;
    width: 100%;
    margin-bottom: 10px;
}
.imgMovie {
   display: inline-block;
   width: 20%;
}
.infoMovie {
   display: inline-block;
   width: 70%;
}
