vendor/

# load-balancer.conf
frontend/load-balancer.conf

# node/vue
frontend/src/node_modules/
frontend/src/npm-debug.log
frontend/src/dist
frontend/src/yarn-debug.log*
frontend/src/yarn-error.log*
frontend/src/test/unit/coverage
frontend/src/test/e2e/reports
frontend/src/selenium-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# Temporary files
.DS_Store
*~