<% layout('../layout') %>

<div class="dashboard-page" id="dashboard">
    <div id="wrapper">
            <div id="sidebar-wrapper">
                <div id="sidebar-wrapper" class="col-sm-12">
                    <article class="help col-md-12 animated zoomInUp">
                        <h2 class="title">Aide</h2>
                    </article>
                </div>        
            </div>
        <div id="page-content-wrapper">
        <a href="#menu-toggle" class="dicta" id="menu-toggle">Dictatiel</a>
        <nav class="container-fluid">
            <a href="/">
                <div class="logo animated bounceInLeft">
                    <img src="/images/microphone.png" alt="logo">
                    <p>{{ title }}</p>
                </div>
            </a>
            <div class="perso animated bounceInRight">        
                <div class="settings">
                    <a href="#" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </div>
                <div class="myAccount">
                    <a href="/profile">
                        <i class="fa fa-user"></i>
                    </a>
                </div>
            </div>
        </nav>
        
        <section class="container-fluid" id="main">
            <div class="row">
                
                    <article class="search col-sm-12 animated zoomInUp">
                        <i class="fa fa-microphone" aria-hidden="true"></i>
                        <input v-bind:value="phrase" type="text" name="request" placeholder="Dictez ou écrivez votre recherche ...">
                    </article>

                    <article class="result col-sm-12 col-lg-8 animated zoomInUp">
                        <h2 class="title">Resultats</h2>
                    </article>

                    <article class="recommandation col-sm-12 col-lg-4 animated zoomInUp">
                        <h2 class="title">Suggestions</h2>
                    </article>
                   
            </div>
        </section>
    </div>
</div>
</div>

<script>
    var dashboard = new Vue({
        el: "#dashboard",
        data: {
            title: "SpeakToMe",
            phrase: ''
        },
        methods: {
        }
    });
</script>

<script>
    $("#menu-toggle").click(function(e) {
            console.log('test');
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

    if (annyang) {   
        var i = false;     
        var commands = {
            'ouvrir panneau': function() {
                $('#myModal').modal('show');
            },
            'fermer panneau': function() {
                $('#myModal').modal('hide');
            },
            'voir profil': function() {
                window.location.href = "/profile";
            },
            'Bonjour jean-michel': function() {
                i = true;
                alert("bonjour à vous !");
                console.log(i);
            },
            'Bonne journée jean-michel': function() {
                i = false;
                alert("Bonne journée à vous !");
                console.log(i);
            }

        };        
        annyang.addCommands(commands);
        annyang.setLanguage('fr-FR');
        
            console.log(i);
            annyang.addCallback('result', function(phrases) {
            console.log("I think the user said: ", phrases[0]);
            dashboard.phrase = phrases[0];
            console.log("But then again, it could be any of the following: ", phrases);
            });   
        
        
        annyang.start();
    }
</script>
