<% layout('../layout') %>


<div class="sign">
    <div class="signUp">
        <% if (error_msg.length > 0){ %>
        <div class="alert alert-danger"><%= error_msg %></div>
        <% } %>
        
        <div class="frame">
            <h2 class="title"><span class="fa fa-user-plus"></span> Signup</h2>
            <div class="form">
                <form class="form-signin" action="/auth/signup" method="post">
                    <label for="inputEmail">Email address</label>
                    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <br />
                    <button class="" type="submit">Signup</button>
                </form>
            </div>
        
        </div>
        
        <p>Already have an account ? <a href="/auth/login"><span class="fa fa-user"></span> Login</a></p>
        <p>Or go <a href="/auth"><span class="fa fa-home"></span> home</a></p>

    </div>
</div>