<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Smart Speech Assistant">
    <!--<link rel="icon" href="../../../../favicon.ico">-->
    <title>Smart Speech Assistant</title>

    <!--<link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Reenie+Beanie|Oswald" rel="stylesheet">-->
    <link href="/css/fonts.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tinos:400i" rel="stylesheet">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script src="/js/popper.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/fontawesome.js"></script>
    <!--<script src="https://use.fontawesome.com/5bfddbc387.js"></script>-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link href="/css/simple-sidebar.css" rel="stylesheet">

    <!-- Moment JS -->
    <script src="/js/moment.min.js"></script>
    <script src="/js/moment-with-locales.min.js"></script>
    <script>
        moment.locale('fr', {
            months : 'janvier_février_mars_avril_mai_juin_juillet_août_septembre_octobre_novembre_décembre'.split('_'),
            monthsShort : 'janv._févr._mars_avr._mai_juin_juil._août_sept._oct._nov._déc.'.split('_'),
            monthsParseExact : true,
            weekdays : 'dimanche_lundi_mardi_mercredi_jeudi_vendredi_samedi'.split('_'),
            weekdaysShort : 'dim._lun._mar._mer._jeu._ven._sam.'.split('_'),
            weekdaysMin : 'Di_Lu_Ma_Me_Je_Ve_Sa'.split('_'),
            weekdaysParseExact : true,
            longDateFormat : {
                LT : 'HH:mm',
                LTS : 'HH:mm:ss',
                L : 'DD/MM/YYYY',
                LL : 'D MMMM YYYY',
                LLL : 'D MMMM YYYY HH:mm',
                LLLL : 'dddd D MMMM YYYY HH:mm'
            },
            calendar : {
                sameDay : '[Aujourd’hui à] LT',
                nextDay : '[Demain à] LT',
                nextWeek : 'dddd [à] LT',
                lastDay : '[Hier à] LT',
                lastWeek : 'dddd [dernier à] LT',
                sameElse : 'L'
            },
            relativeTime : {
                future : 'dans %s',
                past : 'il y a %s',
                s : 'quelques secondes',
                m : 'une minute',
                mm : '%d minutes',
                h : 'une heure',
                hh : '%d heures',
                d : 'un jour',
                dd : '%d jours',
                M : 'un mois',
                MM : '%d mois',
                y : 'un an',
                yy : '%d ans'
            },
            dayOfMonthOrdinalParse : /\d{1,2}(er|e)/,
            ordinal : function (number) {
                return number + (number === 1 ? 'er' : 'e');
            },
            meridiemParse : /PD|MD/,
            isPM : function (input) {
                return input.charAt(0) === 'M';
            },
            // In case the meridiem units are not separated around 12, then implement
            // this function (look at locale/id.js for an example).
            // meridiemHour : function (hour, meridiem) {
            //     return /* 0-23 hour, given meridiem token and hour 1-12 */ ;
            // },
            meridiem : function (hours, minutes, isLower) {
                return hours < 12 ? 'PD' : 'MD';
            },
            week : {
                dow : 1, // Monday is the first day of the week.
                doy : 4  // The week that contains Jan 4th is the first week of the year.
            }
        });
        moment.locale('fr');
        console.log(moment(1316116057189).fromNow()); // il y a une heure
    </script>

    <!-- Vue Js -->
    <script src="/js/vue.js"></script>


    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://127.0.0.1.nip.io');

        /*socket.on('message', function(message) {
            $('#title').html(message.title);
        })

        $('#poke').click(function (event) {
            event.preventDefault();
            socket.emit('message', 'Salut serveur, ça va ?');
        })*/

    </script>

    <!-- Annyang -->
    <script src="/js/annyang.js"></script>

</head>

<body>
    
         <%- body %>
    

    


</body>

</html>
