<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Smart Speech Assistant">
    <!--<link rel="icon" href="../../../../favicon.ico">-->
    <title>Smart Speech Assistant</title>

    <!--<link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Reenie+Beanie|Oswald" rel="stylesheet">-->
    <link href="/css/fonts.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/fontawesome.js"></script>
    <!--<script src="https://use.fontawesome.com/5bfddbc387.js"></script>-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link href="/css/simple-sidebar.css" rel="stylesheet">

    <!-- Vue Js -->
    <script src="/js/vue.js"></script>

    <!-- Annyang -->
    <script src="/js/annyang.js"></script>

</head>

<body>
    
         <%- body %>
    

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:8000');

        /*socket.on('message', function(message) {
            $('#title').html(message.title);
        })

        $('#poke').click(function (event) {
            event.preventDefault();
            socket.emit('message', 'Salut serveur, ça va ?');
        })*/

    </script>


</body>

</html>