<div id="sidebar-wrapper">
        <div id="sidebar-wrapper" class="col-sm-12">
            <article class="help col-md-12 animated zoomInUp">
                <h2 class="title">Aide</h2>
                <h3 class="title">Pour piloter</h3>
                <ul>
                    <li>effacer recherche</li>
                    <li>répéter message</li>
                    <li>ouvrir aide</li>
                    <li>fermer aide</li>
                    <li>voir profil</li>
                    <li>dashboard</li>
                </ul>
                <h3 class="title">Pour lancer une recherche</h3>
                <ul>
                    <li>effacer recherche</li>
                    <li>répéter message</li>
                    <li>ouvrir aide</li>
                    <li>fermer aide</li>
                    <li>voir profil</li>
                    <li>dashboard</li>
                </ul>
            </article>
        </div>
    </div>