<div id="sidebar-wrapper">
    <div id="sidebar-wrapper" class="col-sm-12">
        <article class="help col-md-12 animated zoomInUp">
            <h2 class="title">Aide</h2>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Piloter App</a>
                        </h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul>
                                <li>effacer recherche</li>
                                <li>répéter message</li>
                                <li>ouvrir aide</li>
                                <li>fermer aide</li>
                                <li>voir profil</li>
                                <li>dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Commande météo</a>
                        </h3>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>effacer recherche</li>
                                <li>répéter message</li>
                                <li>ouvrir aide</li>
                                <li>fermer aide</li>
                                <li>voir profil</li>
                                <li>dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Commande Yelp</a>
                        </h3>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>effacer recherche</li>
                                <li>répéter message</li>
                                <li>ouvrir aide</li>
                                <li>fermer aide</li>
                                <li>voir profil</li>
                                <li>dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Commande Spotify</a>
                        </h3>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>effacer recherche</li>
                                <li>répéter message</li>
                                <li>ouvrir aide</li>
                                <li>fermer aide</li>
                                <li>voir profil</li>
                                <li>dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Commande Allociné</a>
                            </h3>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li>effacer recherche</li>
                                    <li>répéter message</li>
                                    <li>ouvrir aide</li>
                                    <li>fermer aide</li>
                                    <li>voir profil</li>
                                    <li>dashboard</li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
        </article>
    </div>
</div>