<div id="sidebar-wrapper">
    <div id="sidebar-wrapper" class="col-sm-12">
        <article class="help col-md-12 animated zoomInUp">
            <h2 class="title">Aide</h2>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Piloter App</a>
                        </h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul>
                                <li>Bonjour Michel</li>
                                <li>Merci Michel</li>
                                <li>Ouvrir/fermer aide</li>
                                <li>Ouvrir/fermer profil</li>
                                <li>Ouvrir/fermer paramètres</li>
                                <li>Effacer recherche</li>
                                <li>Répéter</li>
                                <li>déconnexion</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Commande météo</a>
                        </h3>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Michel donne moi la météo de <strong>(ville) (jour)</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Commande Yelp</a>
                        </h3>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                            <li>Michel donne moi les <strong>(hotel/restaurant/bar)</strong> à <strong>(ville)</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Commande Spotify</a>
                        </h3>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Michel je veux écouter <strong>(artiste/chanson)</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Commande Allociné</a>
                        </h3>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Michel donne-moi le(s) film(s) <strong>(film)</strong> </li>
                                <li>Michel donne-moi les films à l'affiche en ce moment</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Debug</a>
                        </h3>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li><a href="" value="Embêter le serveur" id="poke" />Tester la communication</li>
                            </ul>                            
                        </div>
                    </div>
                </div> -->
            </div>
        </article>
    </div>
</div>