<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content frame">
                <div class="page-header text-center">
                    <h2 class="title">
                        <span class="fa fa-cog"></span> Settings <button type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </h2>
                </div>
                <div class="content">
                    <div>
                        <p>test</p>
                    </div>
                    <button type="button" class="save">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>