<p>Allociné</p>

<div class="module-movie" :class="{ hide: !isActiveMovieAfficheModule }">
    <%-partial('./allocineAffiche')%>
</div>
<div class="module-movie" :class="{ hide: !isActiveMovieSeanceModule }">
    <%-partial('./allocineSeance')%>
</div>
<div class="module-movie" :class="{ hide: !isActiveMovieInformationsModule }">
    <%-partial('./allocineInformations')%>
</div>