<div id="msgVocal" class="hide">
    {{ contentMovie.msgVocal }}
</div>
<div class="movie row" v-if="item.movie.hasOwnProperty('poster')" v-for="(item, key, index) of contentMovie.listMovies">
    <div class="msgVocal hide">
        {{ item.movie.originalTitle }}. {{ item.movie.synopsis }}
    </div>
    <div class="details col-md-12 ">
        <div class="row">



            <!--<div class="imgMovie">
                        <a v-bind:href="movie.link[0].href" target='_blank'>
                            <img v-bind:src="movie.poster.href" v-bind:alt="movie.originalTitle" width='200px'></img>
                        </a>            
                    </div>-->
            <div class="infoMovie col-sm-6 col-xs-12" v-bind:style="{ backgroundImage: 'url(' + item.movie.poster.href + ')' }">
                <div class="details">
                    <h3>{{ item.movie.originalTitle }}</h3>
                    <div class="detailList">
                    <ul>
                        <li>Date : {{ item.movie.productionYear }}</li>
                        <li v-if="item.movie.hasOwnProperty('movieCertificate')">Age : {{ item.movie.movieCertificate.certificate.$ }}</li>
                    </ul>

                    <h4>Casting :</h4>
                    <ul>
                        <li v-for="(character, key, index) of item.movie.castingShort">
                            {{ key }} : {{ character }}
                        </li>
                    </ul>

                </div>
                </div>
            </div>
            <div class="synop col-sm-6 col-xs-12">
                <!-- <h4>Synopsis :</h4> -->
                <div v-if="item.movie.hasOwnProperty('synopsis')">
                    <p>{{ item.movie.synopsis }}</p>
                    <p v-if="item.movie.link[0].hasOwnProperty('href')"><a v-bind:href="item.movie.link[0].href" target='_blank'>En savoir +</a></p>
                </div>
            </div>
            <!-- <div v-if="item.movie.hasOwnProperty('poster')" class="imgMovie col-md-4 col-sm-6 col-xs-12">
                <img v-bind:src="item.movie.poster.href" v-bind:alt="item.movie.originalTitle"></img>
            </div> -->
        </div>
    </div>
    <div v-html="item.movie.trailerEmbed" class="trailer hidden-xs">
    </div>
</div>



<!-- <p><i>info raw : {{ contentMovie }}</i></p> -->