
<div class="module-movie-affiche" :class="{ hide: !isActiveMovieAfficheModule }">
    <%-partial('./allocineAffiche')%>
</div>
<div class="module-movie-seance" :class="{ hide: !isActiveMovieSeanceModule }">
    <%-partial('./allocineSeance')%>
</div>
<div class="module-movie-info" :class="{ hide: !isActiveMovieInformationsModule }">
    <%-partial('./allocineInformations')%>
</div>