<p id="msgVocal">{{ contentMovie.msgVocal }}</p><br />

<div class="movie" v-for="(item, key, index) of contentMovie.listMovies">
    
    <div v-if="item.movie.hasOwnProperty('poster')" class="imgMovie">
        <img v-bind:src="item.movie.poster.href" v-bind:alt="item.movie.originalTitle" width='200px'></img>
    </div>
    
    <!--<div class="imgMovie">
        <a v-bind:href="movie.link[0].href" target='_blank'>
            <img v-bind:src="movie.poster.href" v-bind:alt="movie.originalTitle" width='200px'></img>
        </a>            
    </div>-->
    <div class="infoMovie">
        <div v-html="item.movie.trailerEmbed"></div>
        <p>{{ item.movie.originalTitle }}<br />
            Date : {{ item.movie.productionYear }}
            <span v-if="item.movie.hasOwnProperty('movieCertificate')">
                <br />Age : {{ item.movie.movieCertificate.certificate.$ }}
            </span>
            <span v-if="item.movie.link[0].hasOwnProperty('href')">
                <a v-bind:href="item.movie.link[0].href" target='_blank'>En savoir +</a> 
            </span>
        </p>

        <br />

        <p>Casting :</p>
        <ul id="example-2">
            <li v-for="(character, key, index) of item.movie.castingShort">
                {{ key }} : {{ character }}
            </li>
        </ul>

        <p>Synopsis :</p><br />
        <span v-if="item.movie.hasOwnProperty('synopsis')">
            <p>{{ item.movie.synopsis }}</p>
        </span>      

    </div>
    
</div>



<p><i>info raw : {{ contentMovie }}</i></p>