<div id="meteo" class="row">
    <div class="details col-md-6 col-sm-12">
        <h3>{{ contentWeather.location }} le {{ contentWeather.date }}</h3>
        <p id="msgVocal">{{ contentWeather.msgVocal }}</p><br />
        <!-- <img v-bind:src="contentWeather.picture" v-bind:alt="contentWeather.description"></img> -->
        <i class="owf owf-200"></i>
        <ul>
            <li>{{ tempWeather.morn }} C° le matin</li>
            <li>{{ tempWeather.day }} C° la journée</li>
            <li>{{ tempWeather.eve }} C° le soir</li>
            <li>{{ tempWeather.night }} C° la nuit</li>
        </ul>
    </div>
    <div id="mapMeteo" class=" col-md-6 col-sm-12">
        <iframe id="iframeMeteo" width="100%" height="250" frameborder="0" style="border:0" src="" allowfullscreen>
        </iframe>
    </div>
</div>