<div class="start">
        <p>Pour commencer rendez-vous dans l'aide pour connaitre un peu mieux Speechi !!</p><br>
        <i class="fa fa-arrow-right animated slideInLeft infinite" aria-hidden="true"></i>
</div>
