
<div class="music" v-for="(artist, key) of contentMusic.artists">
    <p>{{ artist.name}}</p>
</div>
<div class="music" v-for="(album, key) of contentMusic.albums">
    {{ key }}: {{ album}}
</div>
<div class="music" v-for="(track, key) of contentMusic.tracks">
    {{ key }}: {{track}}
</div>
    <!--<div class="imgMusic">-->
        <!--<a v-bind:href="music.link[0].href" target='_blank'>-->
            <!--<img v-bind:src="music.poster.href" v-bind:alt="music.originalTitle" width='200px'></img>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="infoMusic">-->
        <!--<p>{{ music.originalTitle }}<br />-->
            <!--Date : {{ music.productionYear }}-->
            <!--<span v-if="music.hasOwnProperty('musicCertificate')">-->
                <!--<br />Age : {{ music.musicCertificate.certificate.$ }}-->
            <!--</span>-->

        <!--</p>-->

        <!--<br />-->

        <!--<p>Casting :</p>-->
        <!--<ul id="example-2">-->
            <!--<li v-for="(character, key, index) of music.castingShort">-->
                <!--{{ key }} : {{ character }}-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

