
<!--<div class="music" v-for="(artist, key) of contentMusic.listMusic.artists">-->

<!--</div>-->
<!--<div class="music" v-for="(album, key) of contentMusic.listMusic.albums">-->

<!--</div>-->
<div v-if="contentMusic.listMusic">
    <div v-if="contentMusic.listMusic.tracks">
        <h3>CHANSONS</h3>
        <div class="music" v-for="(track, key) of contentMusic.listMusic.tracks">
            {{ track.name}}
            {{ track.artists[0].name}}
            <div><img v-bind:src="track.album.images[1].url" width='200px'></div>
        </div>

    </div>

</div>
    <!--<div class="imgMusic">-->
        <!--<a v-bind:href="music.link[0].href" target='_blank'>-->
            <!--<img v-bind:src="music.poster.href" v-bind:alt="music.originalTitle" width='200px'></img>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="infoMusic">-->
        <!--<p>{{ music.originalTitle }}<br />-->
            <!--Date : {{ music.productionYear }}-->
            <!--<span v-if="music.hasOwnProperty('musicCertificate')">-->
                <!--<br />Age : {{ music.musicCertificate.certificate.$ }}-->
            <!--</span>-->

        <!--</p>-->

        <!--<br />-->

        <!--<p>Casting :</p>-->
        <!--<ul id="example-2">-->
            <!--<li v-for="(character, key, index) of music.castingShort">-->
                <!--{{ key }} : {{ character }}-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
