module.exports = {
    'facebookAuth' : {
        'clientID' : '',
        'clientSecret' : '',
        'callbackURL' : 'http://localhost:8000/auth/facebook/callback'
    },
    'googleAuth' : {
        'clientID' : '',
        'clientSecret' : '',
        'callbackURL' : 'http://localhost:8000/auth/google/callback'
    }
}

/* facebookAuth
* https://developers.facebook.com/apps
*/

/* ID clients OAuth 2.0
* https://console.developers.google.com/projectselector/apis/library
 */
