module.exports = {
    'facebookAuth' : {
        'clientID' : '',
        'clientSecret' : '',
        'callbackURL' : ''
    },
    'googleAuth' : {
        'clientID' : '',
        'clientSecret' : '',
        'callbackURL' : ''
    }
}

/* facebookAuth
* https://developers.facebook.com/apps
*/

/* ID clients OAuth 2.0
* https://console.developers.google.com/projectselector/apis/library
 */